@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.ComingSoon p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 42px;
    letter-spacing: 0.2em;
    color: #B90B0B;
    text-align: center;
    position: relative;
    top: 9rem;
}

.ComingSoon h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    top: 10rem;
}

.ComingSoon span {
    color: #B90B0B;
}

.ComingSoon img {
    padding-left: 2rem;
    /* opacity: 0.45; */
}
@media (max-width:991px) {
    .ComingSoon{
        text-align: center;
    }
.ComingSoon p {
    font-size: 20px;
    top: 0rem;
    margin-top: 10rem;
}
.ComingSoon h1 {
    font-size: 36px;
    line-height: 40px;

    margin-left: 1.8rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    margin-top: -1rem;

    position: initial;

}
.ComingSoon img {
    padding-left: 0;
    opacity: 1;
    width: -webkit-fill-available;
}
}

