@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.FAQ {
    margin-top: 15rem;
    padding: 1rem 8rem;
    padding-bottom: 25rem;
}

.FAQHeadings span {
    color: #B90B0B;
}

.FAQHeadings h1 {
    color: #FFFFFF;
    font-size: 64px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 75px;
}

.FAQHeadings p {
    color: #B90B0B;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
}

.QuestOne p {
    color: #FFFFFF;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
}

.FAQQuestions {
    margin-top: 6rem;
    /* margin-left: 6rem; */
}

.FAQQuestions .QuestOne {
    padding: 4rem 4rem;
    cursor: pointer;
    padding-top: 1rem;
    width: 40rem;
    margin-top: 3rem;
    height: 0rem;

}

.AnsOne {
    background-color: #2D2D2D;
    padding: 20px 60px 60px;
    gap: 20px;
    padding-top: 2rem;
    width: 34rem;
    display: none;
    margin-top: 3rem;
    margin-left: 4rem;
    left: 50rem;
    position: absolute;
}

.AnsOne h1 {
    color: #B90B0B;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
}

.AnsOne p {
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;

    padding-top: 1rem;

}

.QuestOne:hover {
    background-color: #B90B0B;
    transition: 0.5s;
    border-radius: 45px;

}

.QuestOne:hover+.AnsOne {
    display: block;
    transition: 0.5s;
}

.SubFAQ {
    display: flex;
}

@media(max-width:991px) {
    .FAQ {
        padding: 0;
        margin-bottom: 5rem;
    }

    .FAQHeadings {
        margin-left: 1.5rem;
    }

    .FAQHeadings h1 {
        font-size: 36px;

    }

    .FAQHeadings p {
        font-size: 20px;
    }

    .FAQQuestions {
        margin-top: 0;
    }

    .SubFAQ {
        display: block;
    }

    .AnsOne {
        position: initial;
        margin-left: 0;
        display: block;
        padding: 0px 22px 4px;
        margin-left: 1.5rem;
        width: 20rem;
        border-radius: 30px;
    }

    .AnsOne h1 {
        display: none;
    }

    .AnsOne p {
        font-size: 12px;
    }

    .QuestOne p {
        font-size: 14px;
    }

    .FAQQuestions .QuestOne {
        padding: 2rem 2rem;
        cursor: pointer;
        padding-top: 0.8rem;
        width: 18rem;
        margin-top: 4rem;
        margin-left: 5rem;
        height: 0rem;
        background: #B90B0B;
        border-radius: 30px;
    }
}