@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

@font-face {
  font-family: Helvetica;
  src: url("../../assets/FreeSansBold.ttf");
}

.Header {
  text-align: center;
  margin-top: 16rem;
}

.Header span {
  color: #b90b0b;
}

.Header h1 {
  color: #ffffff;
  font-size: 80px;
  font-family: Helvetica;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

.Header p {
  color: #b3b3b3;
  font-size: 35px;
  font-family: "Poppins", sans-serif;
}

.regBtn {
  padding: 16px 45px;
  color: #ffffff;
  background-color: transparent;
  border: 4px solid #ffffff;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  line-height: 36px;
  margin-top: 4rem;
  cursor: pointer;
  border-radius: 45px;
}

.regBtn:hover {
  background-color: #b90b0b;
  border: 4px solid #b90b0b;
  transition: 0.5s;
}

.Headerbg {
  position: absolute;
  margin-top: 12rem;
  margin-left: -45rem;
}

input,
optgroup,
select,
textarea {
  display: block;
}

.popleft {
  background: #2d2d2d;
  z-index: 10000;
  padding-top: 4.5rem;
  padding-left: 4rem;
  border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.popup-heading h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #ffffff;
}

.popForm label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #b3b3b3;
}

.popForm {
  padding-top: 1.5rem;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.popForm input {
  background: #b3b3b3;
  opacity: 0.5;
  border-radius: 30px;
  width: 35rem;
  height: 3.3rem;
  margin-bottom: 1rem;
  outline: 0;
}
.popright {
  z-index: 1000;
}
.popright img {
  height: 43rem;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
textarea {
  background: #b3b3b3;
  border-radius: 30px;
  outline: 0;
  opacity: 0.5;
  margin-bottom: 1rem;
}

.Popup {
  display: flex;
  margin-top: -21.5rem;
  width: 70rem;
  justify-content: center;
}

.popForm .submit {
  background: #b90b0b;
  border-radius: 45px;
  font-family: "Poppins";
  border: 2px solid #b90b0b;
  font-weight: 600;
  font-size: 24px;
  color: #ffffff;
  width: 10rem;
  height: 3.5rem;
  margin-left: 6rem;
}

.popForm .cancel {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 24px;
  color: #ffffff;
  border-radius: 45px;
  border: 5px solid #ffffff;
  background-color: transparent;
  width: 10rem;
  margin-left: 3rem;
  height: 3.5rem;
}
/* form {
    animation: 1s Popup;
  }
  @keyframes Popup {
    from {
      margin-left: 100%;
    }
    to {
      margin-left: 0%;
    }
  } */
#popup-2 {
  height: 0rem;
  width: 52rem;
  border-radius: 30px;
}
.popup-content {
  background: transparent !important;
  padding: 0px !important;
  border: 1px solid transparent !important;
}

@media (max-width: 991px) {
  .Header h1 {
    color: #ffffff;
    font-size: 35px;
  }

  .Header p {
    font-size: 18px;
  }

  .Header {
    margin-top: 11rem;
  }
  .regBtn {
    background-color: #b90b0b;
    border: 4px solid #b90b0b;
    font-size: 15px !important;
    padding: 0px 28px;
    margin-top: 1.5rem;
  }

  .Headerbg {
    margin-top: 21rem;
    margin-left: -3rem;
    width: 10rem;
    transform: rotate(65deg);
  }
}
.popup {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
