@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

@font-face {
  font-family: Helvetica;
  src: url("../../assets/FreeSansBold.ttf");
}

.popleft {
  background: #2d2d2d;
  z-index: 10000;
  border-radius: 30px;
  padding: 3rem 3rem;
}

.popup-heading h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #ffffff;
}

.popForm label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #b3b3b3;
}

.popForm {
  padding-top: 1rem;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.popForm input {
  background: #b3b3b3;
  opacity: 0.5;
  border-radius: 30px;
  width: 54rem;
  height: 3.3rem;
  margin-bottom: 1rem;
  outline: 0;
  padding-left: 1.5rem;
  color: #b90b0b;
  font-size: 23px;
}

textarea {
  background: #b3b3b3;
  border-radius: 30px;
  outline: 0;
  opacity: 0.5;
  padding-left: 1.5rem;
  padding-top: 0.5rem;
  color: #b90b0b;
  font-size: 23px;
  width: 54rem;
  height: 8rem;
}

.Popup {
  display: flex;
  margin-top: -41rem;
  width: 70rem;
  justify-content: center;
  margin-left: 1rem;
}

.popForm .submit {
  background: #b90b0b;
  border-radius: 45px;
  font-family: "Poppins";
  border: 2px solid #b90b0b;
  font-weight: 600;
  font-size: 24px;
  color: #ffffff;
  width: 10rem;
  height: 3.5rem;
  /* margin-left: 6rem; */
}

.popForm .cancel {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 24px;
  color: #ffffff;
  border-radius: 45px;
  border: 5px solid #ffffff;
  background-color: transparent;
  width: 10rem;
  margin-left: 3rem;
  height: 3.5rem;
}
#popup-2 {
  height: 0rem;
  width: 52rem;
  border-radius: 30px;
}

.popup-content {
  background: transparent !important;
  padding: 0px !important;
  border: 1px solid transparent !important;
}

.popup {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Btn {
  text-align: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  .popForm input {
    height: 3rem;
    width: 38rem;
  }
  textarea {
    height: 6rem;
    width: 38rem;
  }
  .Btn {
    margin-top: -1rem;
  }
  .popleft {
    height: 39.5rem;
    padding: 1rem 5rem;
    width: 50rem;
  }
  /* .Header h1{
    font-size: 4rem;
  } */
  .Popup {
    margin-top: -19rem;
    margin-left: 0rem;
  }
  .popup-heading h1 {
    font-size: 2rem;
  }
  #labelFile {
    padding: 1rem 12.8rem;
    padding-right: 13.8rem;
  }
  .regBtn {
    margin-top: 0rem;
    background-color: #b90b0b;
    border: 4px solid #b90b0b;
    padding: 13px 45px;
  }
  .phase-2 p {
    font-size: 23px;
    line-height: 37px;
  }
}
