@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

.Goal {
  padding-right: 8rem;
  /* padding-bottom: 12rem; */
}

.goalheader p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 42px;
  letter-spacing: 0.2em;
  color: #b90b0b;
  text-align: right;
}

.goalheader h1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: right;
  padding-bottom: 2rem;
}

.goalheader span {
  color: #b90b0b;
}

.goalContent p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  text-align: right;
  color: #2d2d2d;
  padding-left: 48rem;
}

.goalContent p:hover {
  color: #ffffff;
}
.blank {
  height: 12rem;
}

@media (max-width: 991px) {
  .blank {
    height: 8rem;
  }
  .Goal {
    padding-right: 1rem;
    /* padding-bottom: 8rem; */
  }

  .goalheader p {
    font-size: 16px;
  }

  .goalheader h1 {
    font-size: 33px;
    line-height: 26px;
  }

  .goalContent p {
    font-size: 12px;
    padding-left: 2rem;
    line-height: 22px;
    color: #ffffff;
  }
}
