@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

@font-face {
  font-family: Helvetica;
  src: url("../../assets/FreeSansBold.ttf");
}

.Header {
  text-align: center;
  margin-top: 12rem;
  /* height: 7rem; */
}

.Header span {
  color: #b90b0b;
}

.Header h1 {
  color: #ffffff;
  font-size: 80px;
  font-family: Helvetica;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

.Header p {
  color: #b3b3b3;
  font-size: 35px;
  font-family: "Poppins", sans-serif;
}

.regBtn {
  padding: 16px 45px;
  color: #ffffff;
  background-color: transparent;
  border: 4px solid #ffffff;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  line-height: 36px;
  margin-top: 4rem;
  cursor: pointer;
  border-radius: 45px;
}

.regBtn:hover {
  background-color: #b90b0b;
  border: 4px solid #b90b0b;
  transition: 0.5s;
}

.Headerbg {
  position: absolute;
  margin-top: 12rem;
  margin-left: -45rem;
}

input,
optgroup,
select,
textarea {
  display: block;
}

.popleft {
  /* background: #2D2D2D;
  padding: 2rem 3rem;
  border-radius: 30px;
  width: 64rem; */
  background: #2d2d2d;
  z-index: 10000;
  padding-top: 4.5rem;
  padding-left: 4rem;
  border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

}

.popup-heading h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #ffffff;
}

.popForm label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #b3b3b3;
}

#files {
  visibility: hidden;
}

.fileContainer {
  height: 6rem;
}

.popForm {
  padding-top: 1.5rem;
  align-items: center;
  justify-content: center;
  text-align: left;
}

#labelFile {
  background: #B3B3B3;
  padding: 1rem 20.8rem;
  border-radius: 30px;
  opacity: 0.5;
  color: #2D2D2D;
  padding-right: 21.8rem;
}

.popForm input {
  background: #B3B3B3;
  opacity: 0.5;
  border-radius: 30px;
  width: 54rem;
  height: 3.3rem;
  margin-bottom: 1rem;
  outline: 0;
}

textarea {
  background: #b3b3b3;
  border-radius: 30px;
  outline: 0;
  opacity: 0.5;
  margin-bottom: 1rem;
}

.Popup {
  display: flex;
  margin-top: -21.5rem;
  width: 70rem;
  margin-left: -6rem;
  height: 43rem;
}

.popup-heading {
  display: flex;
}

.popup-heading button {
  color: #FFFFFF;
  font-size: 30px;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
}

.cross {
  margin-left: auto;
}

.popForm .submit {
  background: #B90B0B;
  border-radius: 45px;
  font-family: 'Poppins';
  border: 2px solid #B90B0B;
  font-weight: 600;
  font-size: 24px;
  color: #FFFFFF;
  width: 10rem;
  height: 3.5rem;
  /* margin-left: 6rem; */
}

.submission {
  text-align: center;
}

.popForm .cancel {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 24px;
  color: #ffffff;
  border-radius: 45px;
  border: 5px solid #ffffff;
  background-color: transparent;
  width: 10rem;
  margin-left: 3rem;
  height: 3.5rem;
}

#popup-2 {
  height: 0rem;
  width: 52rem;
  border-radius: 30px;
}

.popup-content {
  background: transparent !important;
  padding: 0px !important;
  border: 1px solid transparent !important;
}

#banner_p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  /* padding: 0 5rem; */
  padding: 0 17.3rem;
  color: #B3B3B3;
}
.empower{
  margin-top: 24rem;
}
#infinityHead{
  height: 12rem;
  left: 30rem;
  top: 17rem;
}
.move{
  position: absolute;
}

@media (max-width:1280px ) {
  #infinityHead{
    left:15rem
  }
}

@media (max-width: 991px) {
  .move{
    position: initial;
  }
  #infinityHead{
    height: 2.5rem;
  }

  .empower{
    margin-top: 0rem;
margin-bottom: 0rem;
  }
  #banner_p{
    margin-top: 1rem;
  }
  .Header h1 {
    color: #ffffff;
    font-size: 35px;
  }

  .Header p {
    font-size: 18px;
  }

  .Header {
    margin-top: 11rem;
    height: 5rem;
  }

  .regBtn {
    background-color: #b90b0b;
    border: 4px solid #b90b0b;
    font-size: 15px !important;
    padding: 0px 28px;
    margin-top: 1.5rem;
  }

  .Headerbg {
    margin-top: 21rem;
    margin-left: -3rem;
    width: 10rem;
    transform: rotate(65deg);
    display: none;
  }

  #banner_p {
    font-size: 15px;
    line-height: 20px;
    padding: 2rem 2rem;
  }
}
@media(min-width:768px) and (max-width:991px){
  #infinityHead{
    height: 2.5rem;
  }
  #banner_p{
    margin-top: 1rem;
  }
  .Header{
    margin-top: 12rem;
  }
}
.popup {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}                                                                                                                    