@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.Navbar {
  display: flex;
  position: fixed;
  z-index: 999;
  width: 100%;
  background: #000000;
  /* height: 10rem; */
  height: 10rem;
  margin-top: -2.5rem;
  top: 0;
}

a {
  text-decoration: none;
  color: #b3b3b3;
}

a:hover {
  color: #b90b0b;
}

.hamroute {
  margin-right: 6rem;
  height: 2rem;
  margin-top: 5.5rem;
  width: 3rem;
  cursor: pointer;
}

.Disc {
  padding-left: 2rem;
}

.SocialMedia {
  margin-left: auto;
  padding-top: 5rem;
  margin-right: 3rem;
}

.Disc svg:hover {
  fill: #5865f2;
}

.Twit svg:hover {
  fill: #55acee;
}

.sideNav li {
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 50px;
  color: #b3b3b3;
  cursor: pointer;
}

.sideNav {
  background: #2d2d2d;
  width: 25rem;
  height: 100vh;
  position: absolute;
  right: 0rem;
  transform: translateX(0rem);
  transition: transform 0.5s;
}

.sideNav ul {
  padding: 3rem 5rem;
}
.sideNav {
  margin-top: 2.5rem;
}
/* .sideNav li:hover, .sideNav li:focus {
    color: #B90B0B;
  } */
/* .Navbar::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.8);
    z-index: 1000;
    transition: opacity .5s;
  } */
/*----------------MOBILE VIEW----------------*/
@media (max-width: 600px) {
  .Navbar {
    margin-top: -0.5rem;
    height: 5rem;
  }
  .navLogo img {
    width: 12rem;
    margin-left: -3rem;
    margin-top: -0.7rem;
  }
  .sideNav {
    margin-top: 0.5rem;
  }
  .sideNav li {
    margin-left: 1rem;
  }

  .SocialMedia {
    /* margin-left: auto; */
    padding-top: 5.4rem;
    margin-top: -4rem;
    margin-right: 1.2rem;
  }

  .Twit {
    margin-left: 5.5rem;
  }

  .Disc {
    margin-left: 4rem;
  }

  .Disc svg {
    margin-top: -4.5rem;
    margin-left: 2rem;
    fill: #5865f2;
  }

  .Twit svg,
  .Disc svg {
    width: 1.8rem;
  }
  .Twit svg {
    position: relative;
    fill: #55acee;

    top: 0.2rem;
  }
  .hamroute {
    margin-right: 2rem;
    height: 1.3rem;
    margin-top: 2.5rem;
    width: 1.8rem;
  }

  .sideNav {
    width: 14.7rem;
    right: -3rem;
    z-index: 1;
  }

  .sideNav ul {
    padding: 2rem 1rem;
  }

  .sideNav li {
    font-size: 18px;
  }
  .Popup {
    display: flex;
    margin-left: -5.8rem;
    margin-top: 0.5rem;
    width: 4rem;
    height: 43rem;
  }
  .popleft {
    background: #2d2d2d;
    /* padding-top: 4.5rem; */
    padding: 2rem 3rem;
    border-radius: 30px;
    width: 23rem;
    height: fit-content;
  }
  .popForm label {
    font-size: 12px;
  }
  .popup-heading h1 {
    font-size: 22px;
  }
  .cross {
    display: none;
  }
  .popForm {
    margin-left: -1rem;
  }
  .popForm input {
    width: 19rem;
    height: 2.3rem;
  }
  #labelFile {
    background: #b3b3b3;
    padding: 1rem 4.8rem;
    border-radius: 30px;
    opacity: 0.5;
    color: #2d2d2d;
    padding-right: 1.8rem;
    width: 19rem;
    font-size: 14px;
  }
  .popForm .cancel,
  .popForm .submit {
    width: 7rem;
    font-size: 16px;
    height: 3rem;
  }
  textarea {
    width: 19rem;
  }
}

/* ----------------TABLET VIEW------------------*/
@media (min-width: 768px) {
  .Disc svg {
    margin-top: 0rem;
  }
  .Disc svg {
    fill: #5865f2;
  }

  .Twit svg {
    fill: #55acee;
  }
  .navLogo img {
    margin-left: -5rem;
  }
  .Header {
    margin-top: 14rem;
  }
  .Header h1 {
    font-size: 4rem;
  }
  .Header p {
    font-size: 28px;
  }
  .regBtn {
    font-size: 23px !important;
    padding: 15px 50px;
    margin-top: 1.5rem;
  }
  .Headerbg {
    margin-top: 15rem;
    margin-left: 6rem;
    width: 16rem;
  }
  .abtHeader p,
  .goalheader p {
    font-size: 20px;
  }
  .abtContent p,
  .goalContent p {
    font-size: 20px;
    line-height: 30px;
  }
  .abtHeader h1,
  .goalheader h1 {
    font-size: 45px;
    line-height: 30px;
  }
  .About {
    padding-top: 8rem;
  }
  .FAQHeadings p {
    font-size: 30px;
  }
  .FAQHeadings h1 {
    font-size: 50px;
  }
  .FAQQuestions .QuestOne {
    width: 32rem;
    height: 4rem;
  }
  .QuestOne p {
    font-size: 25px;
  }
  .AnsOne {
    padding: 1rem 2rem;
    width: 34rem;
  }
  .AnsOne p {
    font-size: 18px;
  }
  .FAQQuestions {
    padding: 3rem 5rem;
  }
  .Popup {
    display: flex;

    margin-left: -9rem;
    margin-top: -17.5rem;

    width: 4rem;
    height: 43rem;
  }
  .popleft {
    background: #2d2d2d;
    /* padding-top: 4.5rem; */
    padding: 2rem 3rem;
    border-radius: 30px;
    width: fit-content;
    height: fit-content;
  }
  .cross {
    display: none;
  }
  .popForm input {
    width: 38rem;
  }
  #labelFile {
    background: #b3b3b3;
    padding: 1rem 12.8rem;
    border-radius: 30px;
    opacity: 0.5;
    color: #2d2d2d;
    padding-right: 13.8rem;
  }
  textarea {
    width: 38rem;
  }
}
