@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
.Carousel div{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 8rem;
    color: #000000;
    
    
}
.Carousel{
    background: #2D2D2D;
    margin-top: 40rem;
    margin-bottom: 15rem;
    height: 8rem;
}
.Carousel:hover{
    background: #B90B0B;
    
}