.Goal{
    padding-right: 8rem;
    padding-bottom: 12rem;
}
.goalheader p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 800;
font-size: 28px;
line-height: 42px;
letter-spacing: 0.2em;
color: #B90B0B;
text-align: right;
}
.goalheader h1{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 75px;
text-transform: uppercase;
color: #FFFFFF;
text-align: right;
padding-bottom: 2rem;
}
.goalheader span{
    color: #B90B0B;
}
.goalContent p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 32px;
text-align: right;
color: #2D2D2D;
padding-left: 48rem;
}
.goalContent p:hover{
    color: #FFFFFF;
}