@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.Carousel div {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 8rem;
    color: #000000;
    text-transform: uppercase;
}

.Carousel {
    background: #2D2D2D;
    margin-top: 40rem;
    margin-bottom: 15rem;
    height: 8rem;
}

.Carousel:hover {
    background: #B90B0B;
}

.unselectable {
    margin-left: 1rem;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* li:nth-child(1) {
    width: 400px !important;
}

li:nth-child(2) {
    width: 350px !important;
}

li:nth-child(3) {
    width: 270px !important;
}

li:nth-child(4) {
    width: 280px !important;
}

li:nth-child(5) {
    width: 430px !important;
}

li:nth-child(6) {
    width: 350px !important;
}

li:nth-child(7) {
    width: 250px !important;
}

li:nth-child(8) {
    width: 320px !important;
}

li:nth-child(9) {
    width: 440px !important;
}

li:nth-child(10) {
    width: 440px !important;
} */
@media (max-width:991px) {
    .Carousel {
        /* background: #2D2D2D; */
        background: #B90B0B;
        /* margin-top: 7rem; */
        margin-right: -2rem;
        height: 4rem;
        /* margin-bottom: 24rem; */
        margin-top: 23rem;
        margin-bottom: 8rem;
    }

    .Carousel div {
        font-size: 26px;
        line-height: 7rem;
        margin-top: -1.5rem;
    }

    li:nth-child(1) {
        width: 170px !important;
    }

    li:nth-child(2) {
        width: 150px !important;
    }

    li:nth-child(3) {
        width: 120px !important;
    }

    li:nth-child(4) {
        width: 120px !important;
    }

    li:nth-child(5) {
        width: 180px !important;
    }

    li:nth-child(6) {
        width: 150px !important;
    }

    li:nth-child(7) {
        width: 110px !important;
    }

    li:nth-child(8) {
        width: 120px !important;
    }

    li:nth-child(9) {
        width: 170px !important;
    }

    li:nth-child(10) {
        width: 160px !important;
    }
}