@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.Timeline2 span {
  color: #b90b0b;
}

.Timeline2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* min-height: 100vh; */
}

.timelineContainer2 {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 40px 0;
}

.timelineContainer2::after {
  position: absolute;
  border-left: 6px dashed #2d2d2d;
  content: "";
  position: absolute;
  left: calc(50% - 2px);
  top: calc(-30.6% - 12px);
  width: 4px;
  height: 112%;
}

.timelineItemContent2:nth-child(even):before {
  background-color: #2d2d2d;
  content: "";
  position: absolute;
  left: calc(1.1% - 2px);
  top: calc(4% - 12px);
  width: 6px;
  height: 40%;
  transform: rotate(90deg);
}

.timelineItemContent2:nth-child(odd):before {
  background-color: #2d2d2d;
  content: "";
  position: absolute;
  left: calc(98% - 2px);
  top: calc(2.5% - 12px);
  width: 6px;
  height: 47%;
  transform: rotate(90deg);
}

.timelineItemContent2:nth-child(1):before {
  left: calc(100% - 2px);
  height: 56%;
}

.timelineItemContent2:nth-child(even) .circle2 {
  background: #2d2d2d;
  border: 6px solid #2d2d2d;
  border-radius: 50%;
  position: absolute;
  top: calc(14% - 10px);
  right: 26.5rem;
  width: 32px;
  height: 32px;
  z-index: 100;
}

.timelineItemContent2:nth-child(odd) .circle2 {
  background: #2d2d2d;
  border: 6px solid #2d2d2d;
  border-radius: 50%;
  position: absolute;
  top: calc(18% - 10px);
  right: -3.5rem;
  width: 32px;
  height: 32px;
  z-index: 100;
}

.timelineItemContent2 {
  display: flex;
  flex-direction: column;
  padding: 16px 26px;
  position: relative;
  width: 400px;
  max-width: 70%;
  margin: 15px 0;
}

.timelineItemContent2:nth-child(odd) {
  margin-right: 30rem;
  text-align: right;
  align-items: flex-end;
}

.timelineItemContent2:nth-child(even) {
  margin-left: 30rem;
  text-align: left;
  align-items: flex-start;
}

.timelineItemContent2:nth-child(odd) p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #2d2d2d;
  margin-left: -12rem;
  padding-left: -3rem;
  margin-right: 2rem;
}

.timelineItemContent2:nth-child(even) p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #2d2d2d;
  padding-left: 2rem;
  margin-right: -12rem;
}

.timelineItemContent2 p:hover {
  color: #ffffff;
}

.timelineItemContent2:nth-child(odd) h5 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: #ffffff;
  padding: 0 2rem;
  margin-left: -12rem;
}

.timelineItemContent2:nth-child(even) h5 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: #ffffff;
  padding: 0 2rem;
  margin-right: -10rem;
}

.phase-2 h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 42px;
  letter-spacing: 0.2em;
  color: #B90B0B;
  text-align: center;
}

.phase-2 p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  color: #2D2D2D;
  padding: 0 20rem;
}

.phase-2 {
  margin-top: 3rem;
}

.phase-2 p:hover {
  color: #ffffff;
}

@media (max-width: 500px) {
  .timelineContainer2::after {
    top: calc(-18% - 12px);
    height: 96%;
  }

  .timelineItemContent2:nth-child(odd) p {
    font-size: 10px;
    line-height: 15px;
    color: #ffffff;
  }

  .timelineItemContent2:nth-child(odd):before {
    height: 57%;
    margin-left: -9rem;
    top: -0.3rem;
    width: 2px;
  }

  .timelineItemContent2:nth-child(1)::before {
    margin-left: -9.5rem;
  }

  .timelineItemContent2:nth-child(even) {
    margin-left: 29rem;
  }

  .timelineItemContent2:nth-child(odd) .circle2 {
    top: calc(23% - 10px);
    left: 17.3rem;
    height: 1.5rem;
    width: 1.5rem;
  }

  .timelineItemContent2:nth-child(odd) h5,
  .timelineItemContent2:nth-child(even) h5 {
    font-size: 20px;
  }

  .timelineItemContent2:nth-child(even):before {
    left: calc(80% - 2px);
    top: calc(-5% - 12px);
    height: 66%;
    width: 2px;
  }

  .timelineItemContent2:nth-child(even) .circle2 {
    right: 2.3rem;
    height: 1.5rem;
    width: 1.5rem;
    top: 0.9rem;
  }

  .timelineContainer2 {
    margin-top: -20%;
    margin-left: 4rem;
  }

  .timelineContainer2::after {
    height: 98%;
    /* margin-left: 10.4rem;
    margin-top: 1.9rem; */
    margin-left: 7rem;
    margin-top: 1.8rem;
  }

  .timelineItemContent2:nth-child(odd) h5 {
    text-align: start;
    /* margin-right: 7.2rem; */
    margin-right: 17rem;
    font-size: 20px;
    font-weight: 100;
    margin-left: -4rem;
  }

  .timelineItemContent2:nth-child(3) h5 {
    margin-right: 13.5rem;
  }

  .timelineItemContent2:nth-child(odd) p {
    font-size: 10px;
    line-height: 15px;
    color: #ffffff;
    /* padding-left: 4.5rem; */
    text-align: start;
    /* margin-right: 4rem;
    padding-right: 5rem; */
    padding: 0 8rem;
    margin-left: -10rem;
  }

  .timelineItemContent2:nth-child(even) h5 {
    margin-right: -1rem;
    line-height: 35px;
    font-weight: 100;
  }

  .timelineItemContent2:nth-child(odd) {
    margin-right: 30rem;
    text-align: right;
    align-items: flex-end;
    margin-left: 33rem;
  }

  .timelineItemContent2:nth-child(even) p {
    font-size: 10px;
    line-height: 15px;
    color: #ffffff;
    padding-left: 2rem;
    margin-right: 4rem;
  }

  .phase-2 h1 {
    font-size: 20px;
  }

  .phase-2 p {
    font-size: 16px;
    line-height: 25px;
    color: #ffffff;
    padding: 0 1rem;
  }
}

@media (min-width: 768px) and (max-width:991px) {
  .phase-2 p {
    color: white;
    padding: 0 5rem;
  }

  .timelineItemContent2:nth-child(odd) p {
    color: #ffffff;
    font-size: 15px;
    margin-left: 4rem;
    /* padding-left: -3rem; */
    padding-right: 0rem;
  }

  .timelineItemContent2:nth-child(even) p {
    color: #ffffff;
    font-size: 15px;
  }
  .timelineContainer2::after {
    top: calc(-32.6% - 12px);
    height: 115%;
  } 
  .timelineItemContent2:nth-child(even) p {
    padding-left: 2rem;
    margin-right: 2rem;
  }
  .timelineItemContent2:nth-child(odd):before {
    height: 40%;
  }
  .timelineItemContent2:nth-child(odd) .circle2 {
    top: calc(14% - 10px);
  }
}